@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Merriweather&family=Neonderthaw&display=swap');

body, html{
  margin: 0;
  padding: 0;
  background: url(https://media.istockphoto.com/photos/old-grunge-white-wall-texture-background-picture-id1295226064?b=1&k=20&m=1295226064&s=170667a&w=0&h=j1SWZK8msHGikVgknpB251kImv_jw3aFuk20Wr37MQo=)  no-repeat fixed;
  background-size: cover;
}
#output{
  margin-top: 5%;
  width: 100%;
  font-family: 'Neonderthaw', cursive;
  font-size: 20px;
  text-align: center;
  color: rgb(53, 40, 17);
  outline: none;

}
#input{
    background: none;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  margin-left: 30%;
  margin-top: 2%;
  outline: none;
  font-family: 'Neonderthaw', cursive;
  font-size: 25px;
  text-align: center;
  color: rgb(14, 12, 12);
}
img{
    width: 500px;
    height: 500px;
}
#btn{
    background: none ;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  font-family: 'Neonderthaw', cursive;
  font-size: 25px;
  text-align: center;
  color: rgb(10, 9, 9);
  margin-left: 1%;
}
h5{ 
  font-family: 'Neonderthaw', cursive;
  font-size: 50px;
  text-align: center;
  color: rgb(53, 38, 11);
}
